
.header{
	width: 100%;
  align-items: center;
	justify-content: center;
	top: 0;
	&-text{
		background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 255, 255)),color-stop(1, #000));
		color:transparent;
		-webkit-background-clip: text;
		background-clip: text;
		@include phone {
			font-size: 35px;
		}
		@include breakpnt{
			font-size: 58px;
		}
	}


}
