
.images-wrapper{
	grid-template-columns: repeat(8,1fr);
	grid-template-rows: repeat(8,1fr);
	width: calc(100%);
	height: calc(100vh);
	
	max-width: 100%;
	margin: 0 auto;

}

.first-section{
	grid-column: 1 /  5;
	background-color: red;

}

.second-section{
	grid-column: 5 / 9;
	background-color:rgba(247, 230, 4, 0.89);

}

.third-section{
	grid-column: 1 / 5;
	grid-row: 3 / 9;
	h3{
		position: relative;
    top: -95px;
		font-size: 20px;
	}
	
}

.fourth-section{
	grid-column: 5 / 9;
	grid-row: 3 / 9;
}

.fifth-section{
	grid-column: 5 / 7;
	grid-row: 3 / 6;
	background-color: white;
}

.eigth-section{
	grid-column: 7 / 9;
	grid-row: 3 / 6;
	background: linear-gradient(to bottom right, rgba(15, 234, 32, 0.822), #bdf3bd);
	
}

.sixth-section{
	grid-column: 5 / 7;
	grid-row: 6 / 9;
  background: linear-gradient(to bottom right, rgba(15, 234, 32, 0.822), #bdf3bd);

}

.seventh-section{
	grid-column: 7 / 9;
	grid-row: 6 / 9;
	background-color: white;

}








