* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.display{
	display: flex;
}

.container{
	max-width: 100%;
    margin: 0 auto;
    
}

.header{
	width: 100%;
	display: flex;
    align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	&-text{
		background-image: -webkit-gradient( linear, left top, right top, color-stop(0, rgb(255, 255, 255)),color-stop(1, #000));
		color:transparent;
		-webkit-background-clip: text;
		background-clip: text;
	}
}

.black-wrapper{
	background-color: black;
	align-items: center;
	justify-content: center;
	width: 50%;
	height: 100vh;
	display: grid;
}

.images{
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	&:hover{
		position: absolute;
	}
}



